<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YourLife</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="website-heading">
            <div class="website-title">
                <h1>YourLife</h1>
            </div>
            <div class="website-subtitle">
                <h3>Create a “Ken Burns” style video about yourself</h3>
            </div>
        </div>
        <div class="website-body">
            <form id="user-inputs" action="{{ url_for('gfg')}}" method="post">
                <div class="user-name">
                    <p>What is the name of the person you're writing about? *
                    <input placeholder="no numbers allowed" type="text" name="name" id="name_text" pattern="[A-Za-z\-\s]{1,20}" title="No numbers or special characters">            
                </p>
                </div>
                <div class="form-explanation">
                    <p>Tell us more! Keep your answers short, and remember that you don't need to answer every question. Starred questions are required.</p>
                </div>
                <div class="personal-input">
                    <div class="section-heading">
                        <h3>Personal Life</h3>
                    </div>
                    <div class="question">
                        <p>What are their pronouns? *</p>
                        <input type="radio" id="she-her" value="she-her" name="personal-pronouns">
                        <label for="she-her">She/her</label><br>
                        <input type="radio" id="he-him" value="he-him" name="personal-pronouns">
                        <label for="he-him">He/him</label><br>
                        <input type="radio" id="they-them" value="they-them" name="personal-pronouns" checked>
                        <label for="they-them">They/them</label>
                    </div>
                    <div class="question">
                        <p>Where do they currently live? *
                        <input type="text" name="personal-location" placeholder="ex: Chicago, Illinois"></p>
                    </div>
                    <div class="question">
                        <p>What are their hobbies? *
                        <input type="text" name="personal-hobbies" placeholder="ex: cooking and baking"></p>
                    </div>
                    <div class="question">
                        <p>What are their goal(s)? *
                        <input type="text" name="personal-goals" placeholder="ex: having a Michelin star"></p>
                    </div>
                    <div class="question">
                        <p>What is their biggest accomplishment? *
                        <input type="text" name="personal-accomplishment" placeholder="ex: owning a restaurant"></p>
                    </div>
                </div>
                <div class="childhood-input">
                    <div class="section-heading">
                        <h3>Childhood</h3>
                    </div>
                    <div class="question">
                        <p>Where were they born? *
                        <input type="text"  name="childhood-birthplace" placeholder="ex: Haiphong, Vietnam"></p>
                    </div>
                    <div class="question">
                        <p>When were they born? *
                        <input type="text" name="childhood-birthday" placeholder="ex: May 4, 2001"></p>
                    </div>
                    <div class="question">
                        <p>Where did they grow up? *
                        <input type="text" name="childhood-location"></p>
                    </div>
                    <div class="question">
                        <p>Describe their childhood in one adjective. *
                        <input type="text" name="childhood-description" placeholder="ex: carefree"></p>
                    </div>
                </div>
                <div class="school-input">
                    <div class="section-heading">
                        <h3>School</h3>
                    </div>
                    <div class="question">
                        <p>What high school did they go to?
                        <input type="text" name="school-highschool"></p>
                    </div>
                    <div class="question">
                        <p>What college/university did they go to?
                        <input type="text" name="school-college-name"></p>
                    </div>
                    <div class="question">
                        <p>What did they major in?
                        <input type="text" name="school-major" placeholder="ex: Biology"></p>
                    </div>
                </div>
                <div class="adult-input">
                    <div class="section-heading">
                        <h3>Adulthood</h3>
                    </div>
                    <div class="question">
                        <p>What is/was their job?
                        <input type="text" name="adult-job" placeholder="ex: executive chef"></p>
                    </div>
                    <div class="question">
                        <p>Where did they work?
                        <input type="text" name="adult-job-location" placeholder="ex: The French Laundry"></p>
                    </div>              
                    <div class="question">
                        <p>How many children do they have?
                        <input type="text" name="adult-child-number" value="0"></p>
                    </div>
                    <div class="question">
                        <p>What are their child(ren)'s name(s)?
                        <input type="text" name="adult-child-name"></p>
                    </div>
                </div>
                <div class="icebreakers-input">
                    <div class="section-heading">
                        <h3>Icebreakers</h3>
                    </div>
                    <div class="question">
                        <p>What is their favorite ice cream flavor?
                        <input type="text" name="ib-ice-cream"></p>
                    </div>
                    <div class="question">
                        <p>If money wasn't a concern, what would they do?
                        <input type="text" name="ib-dream"></p>
                    </div>
                    <div class="question">
                        <p>What is the song or album they would bring to a deserted island?
                        <input type="text" name="ib-island-music"></p>
                    </div>
                    <div class="question">
                        <p>Who would you add to Mount Rushmore?
                        <input type="text" name="ib-rushmore"></p>
                    </div>
                    <div class="question">
                        <p>What fictional world or place would you like to visit?
                        <input type="text" name="ib-fictional-place"></p>
                    </div>
                    <div class="question">
                        <p>You can have an unlimited supply of one thing for the rest of your life, what is it?
                        <input type="text" name="ib-unlimited-supply"></p>
                    </div>
                    <div class="question">
                        <p>If you could see one movie again for the first time, what would it be?
                        <input type="text" name="ib-first-movie"></p>
                    </div>
                    <div class="question">
                        <p>If you could be in any show you wanted, what character would you be?
                        <input type="text" name="ib-character"></p>
                    </div>
                    <div class="question">
                        <p>What is your ideal superpower?
                        <input type="text" name="ib-superpower"></p>
                    </div>
                    <div class="question">
                        <p>If you could choose any person from history to be your imaginary friend, who would it be?
                        <input type="text" name="ib-history-friend"></p>
                    </div>
                </div>
                <button class ="submit-button" onclick="greetings()"> Submit </button> <br>
            </form>
            <div class={{ bio_class }} id="generated">
                <div class="section-heading">
                    <h3>Generated Biography</h3>
                </div>
                <div class="generated-biography">
                    {{ biography }}
                </div>
                <a href="/video">
                    <button class="generate-button">Generate Video</button>
                </a>
            </div>
        </div>
    </body>
</html> 
