<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>YourLife</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="website-heading">
            <div class="website-title">
                <h1>YourLife</h1>
            </div>
            <div class="website-subtitle">
                <h3>Create your “Ken Burns” style documentary with your biography</h3>
            </div>
        </div>
        <div class="generated-video-wrapper">
            <div class="generated-video">

            </div>
            <div class="icons">
                <a id="download-button"></a>
                <a id="embedded-button"></a>
            </div>
        <script src="main.js"></script>
    </body>
</html> 
